{% extends "index.html" %}
{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="twPc-bg twPc-block"></div>
<form action="#", method ="POST">
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="panel">
                    <div class=" panel-body ">
                        <div class="col-md-5">
                            <!-- <img class="img-responsive" src="http://www.pvhc.net/img240/uyttxprhsqycyximpzjb.png"
                                        style="width:30%;"> -->
                            <div class=" clearfix">
                                <h4>Employee</h4>
                                <hr>
                            </div>
                        </div>
                        <form action="#" method="post" >
                            <button type="submit" class="btn btn-success btn-md pull-center">Submit an update</button>
                        <div class="col-md-8">
                            <div class="profile-block">
                                <ul class="list-group">
                                    <li class="list-group-item">Employee ID: {{emp_id}}</li>
                                    <li class="list-group-item">Employee Name: 
                                        <input type="text" class="form-control" name="emp_name" value="{{emp_name}}" pattern="^[_A-z]*((-|\s)*[_A-z])*$"
                                        autocomplete="on" required/>
                                    </li>
                                    {% if gender == "Male" : %}
                                    <li class="list-group-item">Gender:
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="Male" checked>
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="Female">
                                            <span>Female </span>
                                        </label>
                                    </li>
                                    {% else: %}
                                    <li class="list-group-item">Gender:
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="Male" >
                                            <span> Male </span>
                                        </label>
                                        <label class="radio inline">
                                            <input type="radio" name="gender" value="Female" checked>
                                            <span>Female </span>
                                        </label>
                                    </li>
                                    {% endif %}
                                    <li class="list-group-item">Email： 
                                        <input type="email" class="form-control" name="email" value = "{{email}}" autocomplete="on" required/>
                                    </li>
                                    <li class="list-group-item">Address：
                                        <textarea rows="2" class="form-control" name="emp_address" placeholder="{{emp_address}}" autocomplete="on"
                                        required></textarea>
                                    </li>
                                    <li class="list-group-item">Academic qualification： 
                                        <select class="form-control dropdown2" name="academic" size "10">
                                            {% if academic == "Bachelor degree" :%}
                                            <option value="BACHELOR DEGREE" selected>Bachelor degree</option>
                                            <option value="MASTER">Master</option>
                                            <option value="PhD">PhD</option>
                                            {% elif academic == "Master" :%}
                                            <option value="BACHELOR DEGREE">Bachelor degree</option>
                                            <option value="MASTER" selected>Master</option>
                                            <option value="PhD">PhD</option>
                                            {% else: %}
                                            <option value="BACHELOR DEGREE">Bachelor degree</option>
                                            <option value="MASTER">Master</option>
                                            <option value="PhD" selected>PhD</option>
                                            {% endif %}
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class=" panel-body ">
                        <div class="col-md-8">

                            <ul class="list-inline">
                                <li>
                                    <h5><strong>Username: {{emp_username}}</h5>
                                </li>
                                <li> </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <h5><strong>Password: </h5>
                                        <input type="password" class="form-control" name="emp_password" placeholder="Password" autocomplete="on" required />
                                </li>
                                <li> </li>
                            </ul>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<style>
.twPc-bg {
background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
background-position: 0 50%;
background-size: 100% auto;
border-radius: 4px 4px 0 0;
height: 100px;
width: 100%;
}
.twPc-block {
display: block;
}

</style>
{% endblock %}